Clarify meaning of 2n-octet string

- Clarify the meaning of "2n-octet string” when introducing RS2ECP. Also, RS2ECP is not explicitly defined in RFC8032, but in https://tools.ietf.org/id/draft-goldbe-vrf-01.html#suites. According to that, only when curve is Ed25519, RS2ECP is defined in Section 5.1.3 of [RFC8032].


I think this issue should be reopened. The Try-and-Increment Method should be generic, but the RS2ECP method described in Section 5.1.3 of [RFC8032] is not; in particular, it is defined for the curve used by Ed25519 (Section 5.1 is specific to that curve). For example, it assumes 32-byte strings. Other example is that step 1 of the method won't work for all types of curves. 

How about using the method described in Section 2.3.4 of [SEC standard](http://www.secg.org/sec1-v2.pdf)? 

Oh disregard my comment, I was looking to the html doc, which seems outdated.

Sorry about that. I've updated the repo files to avoid confusion (for the time being...). 